<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/heroic-features.css">
  </head>
  <body>
    <nav role="navigation" class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">Apartment Ad Space</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling-->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav pull-right">
          <% if (user.local.email) { %>
            <li><a href="#" class="pull-right">Submit Space</a></li>
            <li><a href="#" class="pull-right">Welcome <%= user.local.email %></a></li>
            <li><a href="/logout" class="pull-right">Logout</a></li>
          <% } else { %>
            <li><a href="/login" class="pull-right">Login</a></li>
            <li><a href="/signup" class="pull-right">Register</a></li>
          <% } %> 
          </ul>
        </div>
        <!-- /.navbar-collapse-->
      </div>
      <!-- /.container-->
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div style="margin-top:0px; text-align:center;" class="jumbotron hero-spacer col-lg-15" >
            <h2> Property owners</h2>
            <p>Do you want to monetize your property space? Here we go.</p>
            <p><a class="btn btn-primary btn-large" href="/listing/advertisers">List My Property!</a></p>
          </div>
        </div>
        <div class="col-md-6">
          <div style="margin-top:0px; text-align:center;" class="jumbotron hero-spacer col-lg-15" >
            <h2> Advertisers </h2>
            <p>Do you want to reach more people for your offering?</p>
            <p><a class="btn btn-primary btn-large" href="/listing/apartments" >Buy Property Ad Space</a></p>
          </div>
        </div>
      </div>
      <hr>
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright © Apartment Space 2014</p>
          </div>
        </div>
      </footer>
    </div>
    <script src="/javascripts/jquery-1.8.3.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>